*.wav
*.mp3
*.m4a
.DS_Store
.DerivedData/
**/xcuserdata/
AcousticLab/HammerLab/Build/
AcousticLab/HammerLab/.Generated/

!/Doc/
!/Doc/**

/Cli/bBpiano Lite/_archive_local
/Cli/bBpiano Sonic/_archive_local
/Cli/bBpiano Sonic/data

/AcousticLab/StringFilterLab/Samples/Pianoteq 9/SingleNoteSamples
