*.wav
*.mp3
*.m4a
.DS_Store
.DerivedData/
**/xcuserdata/
AcousticLab/HammerLab/Build/
AcousticLab/HammerLab/.Generated/

!/Doc/
!/Doc/**

/Cli/_archive_local

/AcousticLab/StringFilterLab/Samples/Pianoteq 9/SingleNoteSamples
